main{
  height: auto;
  overflow-y: scroll;
  scroll-snap-type: y mandatory; /**/
}

main > section {
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
  background: violet;

}

main > section:nth-child(odd){
  background: red;
}

main > section > div {
  font-size: 100px;
  font-weight: 1000;
}